{% extends "default.html.twig" %}

{% block main %}
  <h1>APP NAME: {{ APP_NAME }}</h1>
  <h1>Hello from {{ frameworkName }} v.{{ frameworkVersion }} with twig!</h1>
  <a href="/register">Go to registration form</a>
  <br>
  <a href="/login">Go to login form</a>
{% endblock main %}