{% extends "default.html.twig" %}

{% block main %}
  <h1>Registration form:</h1>
  <form method="POST">
    <input type="text" name="name" id="name" placeholder="name">
    <button type="submit">Register</button>
  </form>
{% endblock main %}